
<footer>
    <div class="main-footer">
        <h5>Desarrollado por Alex Acosta Garcia, con motivo de su TFG en la UPF</h5>
    </div>
</footer>

<link rel="stylesheet" href="css/footer.css">
