
<header class="navBar">
    <a href="/"><img class="logo" src="imgs/icono.png"></a>
    <nav>
        <ul class="nav_links">
            <li><a href="./seeProjects">Mapa de proyectos</a></li>
            <li><a href="/addProjects">Añadir proyecto</a></li>
        </ul>
    </nav>
</header>
<div class="navBar"></div> <!--div behind with the same height to move next contents -->

<link rel="stylesheet" href="css/navBar.css">