footer {
    width: 100%;
    position: relative;
    bottom: 0%;
}/* fixed at the end of the page */

.main-footer {
    margin-top: 20px;
    height: 40px;
    padding-top: 10px;
	background-color: lightseagreen;
	color: rgb(255, 250, 245);
    display: flex;
    justify-content: center;
}