<%- include('common/header');-%>

<body>
    <%- include('common/navBar');-%>

    <div class="main-container">
        <h1 id="main-title">Geolocalizador de Ciencia Ciudadana</h1>

        <div class="info-container">
            <h2>¿En qué consiste este proyecto?</h2>
            <p>Este proyecto pretende dar visibilidad a la ciencia ciudadana, una nueva manera de hacer ciencia en auge que creemos se debe impulsar.
            Para así, algún día poder llegar a desarrollar una inteligencia colectiva que permita resolver nuevos problemas científicos de nuevas formas más humanas en relación a la sociedad y con una investigación más democrática.</p>
            <p>Para hacerlo, este aplicativo dispone de herramientas sencillas que permitan visibilizar e informarse sobre proyectos, además de añadir nuevos.</p>
        </div>

        <div class="info-container">
            <h2>¿Qué es la ciencia ciudadana?</h2>
            <p>La ciencia ciudadana es una nueva forma de cultura científica que busca implicar a la ciudadanía en el proceso científico, gracias a su colaboración en la producción de conocimientos.
            Esta implicación por parte de los ciudadanos puede darse de manera activa, en la que toman acción directa ya sea para la recolección o tratado de datos; o pasiva en la que ofrecen recursos propios para el desarrollo del proyecto.</p>
            <br><p>Se basa en investigaciones propuestas por científicos o profesionales del tema, que se desarrollan por público no especializado, teniendo presente que, cualquiera puede contribuir a avances científicos ya que una vez propuesto el tema toda persona tiene los recursos y conocimientos necesarios para desarrollarlo.</p>
        </div>

        <div class="info-container">
            <h2>¿Qué beneficios tiene este tipo de proyectos frente a otros?</h2>
            <p>Los proyectos de ciencia ciudadana producen un resultado científico nuevo que beneficia tanto a los ciudadanos como científicos que lo realizan.</p>
            <p>A diferencia de estudios privados, estos siempre son de dominio público; debiendo mostrar los resultados de manera abierta tanto a participantes reflejados en este como al público general. Permitiendo así, enriquecer a todo el mundo por igual.</p>
            <br><p>Este cambio implica ventajas notables para los científicos, frente a las otras formas de desarrollo de proyectos, dado el aumento y variabilidad de las fuentes participantes y el alcance de los proyectos que al uso no podrían alcanzar; obteniendo aportaciones imposibles de obtener de otra manera.</p>
            <p>A su vez, beneficia al público partícipe, dándoles nuevos procedimientos, habilidades y aumentando sus recursos personales para resolver problemas cotidianos.</p>
        </div>
        
        <div class="info-container">
            <h2>¿Qué otras webs impulsan esta ciencia?</h2>
            <div id="websites-icons">
                <!-- grid with images linked to CC websites -->
                <a href="https://ciencia-ciudadana.es/"><img class="external-logo" src="imgs/logo_observatorio.png"></a>
                <a href="https://ecsa.citizen-science.net/"><img class="external-logo" src="imgs/logo_ecsa.png"></a>
                <a href="https://cstrack.eu/"><img class="external-logo" src="imgs/logo_cstrack.svg"></a>
                <a href="https://eu-citizen.science/"><img class="external-logo" src="imgs/logo_eu-citizenscience.png"></a>
            </div>
        </div>

    </div>

    <%- include('common/footer');-%>
</body>
        
</html>